/* banner at the top of the page */ 
.banner{
    background-color: rgb(112, 14, 14);

}

h1.banner_txt {
    text-align: center;
    color: rgb(255,255,255);
}
/* button under banner heading text which links to scrape() */
#scrape_btn {
    text-align: center;
}

/* first text after banner with the latest news from NASA*/
/* doesn't seem to be working at all */
#first_text {
  background-color: rgb(253, 255, 139);
}

/* nor this. Does bootstrap override normal css? */
#tweet_box {
    background-color:rgb(216, 216, 216);
    padding:5%;
}

/* this positions facts table to bottom of current container
also doesn't seem to be working at all */
div.facts_table {
    position:relative;
    bottom:-50px;
}

figcaption.hemis_caption{
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}